<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>IFAT</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{url_for('static',filename='vendors/images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{url_for('static',filename='vendors/images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{url_for('static',filename='vendors/images/favicon-16x16.png')}}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendors/styles/core.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendors/styles/icon-font.min.css')}}">
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static',filename='src/plugins/datatables/css/dataTables.bootstrap4.min.css')}}">
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static',filename='src/plugins/datatables/css/responsive.bootstrap4.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendors/styles/style.css')}}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
<!-- Navbar -->
<div class="header">
    <div class="header-left"></div>
    <div class="header-right">
        <div class="user-notification">
            <div class="dropdown">
                <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
                    <i class="icon-copy dw dw-notification"></i>
                    <span class="badge notification-active"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="notification-list mx-h-350 customscroll">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="{{url_for('static',filename='vendors/images/img.jpg')}}" alt="">
                                    <h3>John Doe</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{{url_for('static',filename='vendors/images/photo1.jpg')}}" alt="">
                                    <h3>Lea R. Frith</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{{url_for('static',filename='vendors/images/photo2.jpg')}}" alt="">
                                    <h3>Erik L. Richards</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{{url_for('static',filename='vendors/images/photo3.jpg')}}" alt="">
                                    <h3>John Doe</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{{url_for('static',filename='vendors/images/photo4.jpg')}}" alt="">
                                    <h3>Renee I. Hansen</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{{url_for('static',filename='vendors/images/img.jpg')}}" alt="">
                                    <h3>Vicki M. Coleman</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img src="{{url_for('static',filename='vendors/images/photo1.jpg')}}" alt="">
						</span>
                    <span class="user-name">Ross C. Lopez</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i> Profile</a>
                    <a class="dropdown-item" href="profile.html"><i class="dw dw-settings2"></i> Setting</a>
                    <a class="dropdown-item" href="faq.html"><i class="dw dw-help"></i> Help</a>
                    <a class="dropdown-item" href="login.html"><i class="dw dw-logout"></i> Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- sidebar left -->

<div class="left-side-bar">
    <div class="brand-logo">
        <a href="index.html">
            <img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
            <img src="vendors/images/blue-logo.png" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="index.html" class="dropdown-toggle">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Inicio</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="proveedores.html" class="dropdown-toggle">
                        <span class="micon dw dw-user1"></span><span class="mtext">Proveedores</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Productos</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="orden_compras.html" class="dropdown-toggle">
                        <span class="micon dw dw-edit2"></span><span class="mtext">Orden de compras</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="form-basic.html">Clientes</a></li>
                        <li><a href="advanced-components.html">Advanced Components</a></li>
                        <li><a href="form-wizard.html">Form Wizard</a></li>
                        <li><a href="html5-editor.html">HTML5 Editor</a></li>
                        <li><a href="form-pickers.html">Form Pickers</a></li>
                        <li><a href="image-cropper.html">Image Cropper</a></li>
                        <li><a href="image-dropzone.html">Image Dropzone</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>

{% block body %}


{% endblock %}


<!-- js -->
<script src="{{url_for('static',filename='vendors/scripts/core.js')}}"></script>
<script src="{{url_for('static',filename='vendors/scripts/script.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/scripts/process.js')}}"></script>
<script src="{{url_for('static',filename='vendors/scripts/layout-settings.js')}}"></script>
<script src="{{url_for('static',filename='src/plugins/jquery-steps/jquery.steps.js')}}"></script>
<script src="{{url_for('static',filename='vendors/scripts/steps-setting.js')}}"></script>


<script src="{{url_for('static',filename='src/plugins/apexcharts/apexcharts.min.js')}}"></script>
<script src="{{url_for('static',filename='src/plugins/datatables/js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='src/plugins/datatables/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static',filename='src/plugins/datatables/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static',filename='src/plugins/datatables/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/scripts/dashboard.js')}}"></script>
</body>
</html>