<div class="left-side-bar">
    <div class="brand-logo">
        <a href="index.html">
            <img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
            <img src="vendors/images/blue-logo.png" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="index.html" class="dropdown-toggle">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Inicio</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="proveedores.html" class="dropdown-toggle">
                        <span class="micon dw dw-user1"></span><span class="mtext">Proveedores</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Productos</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="/orden-compras" class="dropdown-toggle">
                        <span class="micon dw dw-edit2"></span><span class="mtext">Orden de compras</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="form-basic.html">Clientes</a></li>
                        <li><a href="advanced-components.html">Advanced Components</a></li>
                        <li><a href="form-wizard.html">Form Wizard</a></li>
                        <li><a href="html5-editor.html">HTML5 Editor</a></li>
                        <li><a href="form-pickers.html">Form Pickers</a></li>
                        <li><a href="image-cropper.html">Image Cropper</a></li>
                        <li><a href="image-dropzone.html">Image Dropzone</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>

{% block body %}


{% endblock %}