{% extends '/primerModulo/layouts/main.html' %}

{% block body %}


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20" style="display: flex; justify-content: space-between;">
                    <h4 class="text-blue h4">Recepciones</h4>
                </div>
                <div class="pb-20" style="padding: 10px 10px; justify-content: flex-end;">
                    <a href="reporte-recepcion" class="btn btn-dark" id="reset-settings">Reporte por proveedor</a>
                    <a href="nueva-recepcion" class="btn btn-success" id="reset-settings">Nueva Recepción</a>
                </div>
                <div class="pb-20">
                    <table class="data-table table stripe hover nowrap">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">Folio</th>
                                <th>Proveedor</th>
                                <th>Nombre</th>
                                <th>Estatus</th>
                                <th>Fecha de documento</th>
                                <th>Con documento asociado</th>
                                <th>Total del documento</th>
                                <th>Fecha de Recepción</th>
                                <th>Enlazado</th>
                                <th>Fecha de cancelación</th>
                                <th class="datatable-nosort">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-plus">001</td>
                                <td>001</td>
                                <td>Proveedor</td>
                                <td>Emitida</td>
                                <td>11/03/2022</td>
                                <td>c-001</td>
                                <td>2,000</td>
                                <td>13/03/2022</td>
                                <td>S</td>
                                <td></td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                            href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> Ver</a>
                                            <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Editar</a>
                                            <!-- <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a> -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Simple Datatable End -->
        </div>

    </div>
</div>


{% endblock %}