{% extends '/primerModulo/layouts/main.html' %}

{% block body %}


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Compras [Alta de documentos]</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                Opciones
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Exportar</a>
                                <a class="dropdown-item" href="#">Imprimir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4">Nueva Orden No. 12345</h4>
                </div>
                <br>
                <div class="wizard-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-30">
                            <div class="card-box pd-30 height-100-p">
                                <h5>Datos del Proveedor</h5><br>
                                <section>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label >Nombre:</label>
                                                <input type="text" class="form-control" placeholder="Select2 con nombre y código">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label >Dirección:</label>
                                                <input type="text" class="form-control" disabled="false">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label >Población:</label>
                                                <input type="text" class="form-control" disabled="false">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-30">
                            <div class="card-box pd-30 height-100-p">
                                <h5>Datos de la Orden</h5><br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Orden</label>
                                            <select class="custom-select form-control">
                                                <option value="Amsterdam">Directa</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Número</label>
                                            <input type="number" class="form-control" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Fecha de creación</label>
                                            <input type="date" class="form-control date-picker">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Fecha de entrega</label>
                                            <input type="date" class="form-control date-picker">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group" data-select2-id="7">
                                            <label>Proveedor</label>
                                            <input type="number" class="form-control" placeholder="0">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <div class="form-group" data-select2-id="7">
                                            <label>Cantidad</label>
                                            <input type="number" class="form-control" placeholder="0.00">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <div class="form-group" data-select2-id="7">
                                            <label>Unidad</label>
                                            <input type="number" class="form-control" placeholder="0.00">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-8">
                                        <div class="form-group" data-select2-id="7">
                                            <label>Producto</label>
                                            <input type="text" class="form-control" placeholder="Select2 con nombre y código">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 text-right">
                                            <button type="button" class="btn btn-light">Guardar producto</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-success">Generar orden</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="pb-20">
                    <table class="data-table table stripe hover nowrap">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">Cantidad</th>
                                <th>Producto</th>
                                <th>Unidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-plus">1</td>
                                <td>Producto 1</td>
                                <td>pz</td>
                            </tr>
                            <tr>
                                <td class="table-plus">2</td>
                                <td>Producto 2</td>
                                <td>pz</td>
                            </tr>
                            <tr>
                                <td class="table-plus">3</td>
                                <td>Producto 3</td>
                                <td>pz</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- success Popup html Start -->
            <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center font-18">
                            <h3 class="mb-20">Orden registrada con éxito!</h3>
                            <div class="mb-30 text-center"><img src="vendors/images/success.png"></div>
                            La nueva orden se ha guardado exitosamente
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- success Popup html End -->
        </div>
    </div>
</div>


{% endblock %}